* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

#container {
    text-transform: uppercase;
    display: inline-block;
}

#container kbd {
    display: inline-block;
    height: 4em;
    width: 4em;
    border: 1px solid red;
    position: relative;
}

#container button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

#container kbd:hover>button {
    display: inline-block;
}